.modal { z-index: 11111000;}
#productModal .modal-dialog {
    margin: 5% auto;
    max-width: 96%;
    min-height: 300px;
    padding: 20px;
    width: 870px;
}
#productModal .modal-header {
    border: 0 none;
    min-height: auto;
    padding: 0;
}
#productModal button.close-modal {
  opacity: 1;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
}
#productModal button.close-modal span {
  border: 1px solid #909295;
  border-radius: 100%;
  color: #909295;
  display: block;
  height: 30px;
  line-height: 25px;
  padding-top: 1px;
  text-align: center;
  width: 30px;
}
#productModal button.close-modal:hover span {
  opacity: 1;
  border: 1px solid #F6416C;
  color: #F6416C;
}
#quickview-wrapper .modal-content {
    border-radius: 0;
}
.modal-product {
    overflow: hidden;
}
.modal-product .product-images {
    float: left;
    width: 40%;
}
.modal-product .product-images .quick-thumbnails {
    float: left;
    width: 100%;
}
.modal-product .product-images .main-image {
    float: left;
    width: 100%;
}
.modal-product .product-images .main-image img {
    box-shadow: none;
}
.modal-product .product-info {
    float: left;
    padding-left: 30px;
    width: 60%;
}
.modal-product .product-info h1 {
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 20px;
}
.s-price-box {
    font-family: "Roboto",sans-serif;
    font-size: 20px;
}
.s-price-box .old-price {
  margin-left: 15px;
  text-decoration: line-through;
}
.modal-product .product-info .price-box {
    float: left;
    margin: 0 0 12px;
    width: 100%;
}
.modal-product .product-info .price-box p {
    margin: 0;
}
.modal-product .product-info .price-box .special-price {
    color: #83cbdc;
    font-family: "Raleway",sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.modal-product .product-info .see-all {
    color: #42414f;
    display: inline-block;
    margin-bottom: 35px;
    text-decoration: underline;
}
.numbers-row > input {
  border: 1px solid #ddd;
  float: left;
  height: 40px;
  padding: 0 10px 0 0;
  text-align: center;
  width: 60px;
}
.quick-add-to-cart .single_add_to_cart_button {
    background: #444  none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    float: left;
    font-weight: 700;
    height: 40px;
    margin-left: 15px;
    padding: 0 70px;
    text-transform: uppercase;
	transition: all 0.3s ease 0s;
}
.quick-add-to-cart .single_add_to_cart_button:hover {
    background: #C8A165 none repeat scroll 0 0 !important;
}
.modal-product .product-info .see-all:hover {
    color: #ff8787;
}
h3.widget-title-modal {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #42414f;
    float: left;
    font-size: 16px;
    line-height: 30px;
    margin: 0 0 5px;
    text-align: left;
    text-transform: none;
    width: 100%;
}
.modal-product .product-info .quick-add-to-cart {
    border-bottom: 1px solid #e5e5e5;
    float: left;
    margin: 0 0 20px;
    padding: 0 0 15px;
    width: 100%;
}
.modal-product .product-info .quick-desc {
    border-bottom: 1px solid #e5e5e5;
    color: #909295;
    float: left;
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 25px;
    padding: 0 0 15px;
    width: 100%;
}
.modal-product .widget {
    float: left;
    width: 100%;
}
.modal-product .widget .widget-title {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #909295;
    float: left;
    font-size: 16px;
    line-height: 30px;
    margin: 0 0 5px;
    text-align: left;
    text-transform: none;
    width: 100%;
}
.modal-product .widget .social-icons {
    float: left;
    margin: 0;
    padding: 0;
}
.modal-product .widget .social-icons li {
    float: left;
    line-height: 30px;
    list-style: outside none none;
    margin-right: 10px;
}
.modal-product .widget .social-icons li .social-icon {
    border: 1px solid #e5e5e5;
    color: #909295;
    display: inline-block;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    width: 40px;
}
.modal-product .widget .social-icons li .social-icon:hover {
    color: #fff;
}
.modal-product .widget .social-icons li .social-icon.facebook:hover {
    background: #3b579d none repeat scroll 0 0;
    border: 1px solid #3b579d;
}
.modal-product .widget .social-icons li .social-icon.twitter:hover {
    background: #3acaff none repeat scroll 0 0;
    border: 1px solid #3acaff;
}
.modal-product .widget .social-icons li .social-icon.pinterest:hover {
    background: #cb2027 none repeat scroll 0 0;
    border: 1px solid #cb2027;
}
.modal-product .widget .social-icons li .social-icon.tumblr:hover {
    background: #304e6c none repeat scroll 0 0;
    border: 1px solid #304e6c;
}
.modal-product .widget .social-icons li .social-icon.gplus:hover {
    background: #d11717 none repeat scroll 0 0;
    border: 1px solid #d11717;
}
.modal-product .widget .social-icons li .social-icon.linkedin:hover {
    background: #0097bd none repeat scroll 0 0;
    border: 1px solid #0097bd;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999999!important;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all; 
}