.site-main.single-product {
    display: flex;
}


@media (max-width: 568px) {
    .product-area .container {
        width: 100%!important;
    }
  }


@media (max-width: 768px) {
    .single-product {
        flex-direction: column;
    }
  }